@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-blue: #0fb8fe;
  --color-green: #afca5d;
  --color-grey: #f8f8f8;
  --color-orange: #fe753c;
  --color-pale-pink: #ffdadd;
  --color-pink: #fcddf3;
  --color-white: #ffffff;
  --color-yellow: #fedc5e;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
}

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.dbg {
  border: 2px dotted red;
}

.badge_animation {
  filter: drop-shadow(1px 5px 25px #00000056);
  animation: badge_animation 10s infinite linear;
}

@keyframes badge_animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.seperator {
  background: #000000;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(254, 220, 94, 1) 100%
  );
}
